.devborder{
    background-color: white;
    padding: 50px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    border: #2b2b2b;
    color: #2b2b2b;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 8px rgba(0,0,0,0.75);
}

.intro{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}


@media screen and (max-width: 800px) {
    .intro {
      margin-left: unset;
      margin-right: unset; 
    }
  }